# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mahesh.DESKTOP-OULN8PR\Documents\CS50\__ 0 Project Submissions\Project3\mail\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
